* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 89% 1%;
    grid-template-areas:
        "hdr"
        "content"
        "ftr"
}

h1 {
    font-family: 'Squada One', sans-serif, cursive;
    color: white;
    font-size: 6.5vmin;

    
}

header {
    grid-area: hdr;
    background: rgb(40,40,43);
    background: linear-gradient(180deg, rgba(40,40,43,1) 0%, rgba(40,40,43,1) 97%, rgba(255,255,255,1) 100%);
    color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

footer {

    grid-area: ftr;
    background: linear-gradient(to right,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 100%)
}


main {
    display: flex;
    grid-area: content;
    background-color: #FAF8F9;
    display: flex;
    justify-content: flex-start;
}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    margin: 0 auto;
    margin-top: 180px;
}

#scores-container {
    background-color: darkgray;
    border-radius: 3%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 3%;
}

#buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 26vmin);
        grid-template-rows: repeat(2, 26vmin);
        margin-top: 5vmin;
        background: rgb(161, 189, 236);
        justify-content: center;
        border-radius: 50%;

        
}

#buttons-container > div > button {
    display: flex;
    width: 26vmin;
    height: 26vmin;
    border-color: black;
}

#green-btn {
    background-color: rgb(39, 80, 39);
    border-radius: 100% 0% 0% 0%;
    border-top-width: 5px;
    border-left-width: 5px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-left-style: solid;

}

#red-btn {
    background-color: rgb(129, 37, 37);
    border-radius: 0% 100% 0% 0%;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 3px; 
    border-top-style: solid;
    border-right-style: solid;

}

#blue-btn {
    background-color: rgb(49, 78, 173);
    border-radius: 0% 0% 100% 0%;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-right-style: solid;
    border-bottom-style: solid;

}

#yellow-btn {
    background-color: rgb(230, 230, 17);
    border-radius: 0% 0% 0% 100%;
    border-left-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 3px;
    border-left-style: solid;
    border-bottom-style: solid;

}

#center-btn > button {
    border-radius: 100%;
    width: 20vmin;
    height: 20vmin;
    position: absolute;
    margin-top: -36vmin;
    margin-left: 16vmin;
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;
}


@media all and (max-width:40em){
    
}
